body{
    font-family: sans-serif;
    font-size:110%;
    background-color: #FCF7F8;
    display: flex;
    flex-direction: column;
  }
  
  header {
    justify-content: center;
    text-align: center;
  }
  
  #heading{
    font-family: sans-serif;
    background-color: #343330;
    /* display: inline-flex; */
    padding: 1rem;
    color: white;
  }
  
  #headshot{
    width: 10%;
    height: 10%;
    border-radius: 20%;
    border: 3px solid #b46c0e;
  }
  
  .main{
    display: flex;
    flex-direction: row;
    overflow: unset;
  }
  
  #sidebar {
    height: 100%;
    padding: 1rem;
    padding-right: 2rem;
    background-color: #595b14;
    display: block;
  }
  
  #listtype {
    list-style-type: none;
    padding: 0;
    color: #fff;
  }
  
  footer {
    padding: 1rem;
    background-color: #343330;
    justify-content: center;
    text-align: center;
  }
  
  #content {
    width: 80%;
    padding: 1rem;
    margin: 1rem;
    display: block;
  }

  
  .icons{
    width:3rem;
    margin: 0.5rem;
    height: auto;
  }
  
  a:link{
    color: inherit;
  }
  